volumes:
  besu-local-dev:
    name: "besu-local-dev"

services:
  besu-node:
    container_name: besu-node
    hostname: besu-node
    image: consensys/linea-besu-package:beta-v2.1-rc16.2-20250521134911-f6cb0f2
    healthcheck:
      test: [ "CMD-SHELL", "bash -c \"[ -f /tmp/pid ]\"" ]
      interval: 1s
      timeout: 1s
      retries: 120
    environment:
      LOG4J_CONFIGURATION_FILE: /var/lib/besu/log4j.xml
      JAVA_OPTS: -Xmx1536m
    entrypoint:
      - /bin/bash
      - -c
      - |
        rm -fr /opt/besu/plugins && \
        /opt/besu/bin/besu-untuned --config-file=/config/config.toml
    volumes:
      - ./besu.key:/config/keys/besu.key:ro
      - ./config.toml:/config/config.toml:ro
      - ./genesis.json:/data/l1-node-config/genesis.json:ro
      - ./logs/log4j.xml:/var/lib/besu/log4j.xml:ro
      - besu-local-dev:/data
    ports:
      - "8545:8545"
      - "8546:8546"
      - "8551:8551/tcp"
      - "30303:30303"
      - "9001:9001/tcp"
