name: release

# triggered on pushing a tag
on:
  push:
    tags:
      - 'v*.*.*'

env:
  ZETO_VER: ${{ github.ref_name }}

jobs:
  setup-prerequisites:
    uses: ./.github/workflows/e2e-deps.yaml
  build:
    needs: setup-prerequisites
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup temp dir for the artifacts
        run: |
          mkdir -p ${{ runner.temp }}/zeto-artifacts

      - name: Download zeto artifacts
        uses: actions/download-artifact@v4
        with:
          name: ${{ needs.setup-prerequisites.outputs.artifacts-name }}
          path: ${{ runner.temp }}/zeto-artifacts

      - name: Build contracts
        working-directory: solidity
        run: |
          npm install
          npx hardhat compile

      - name: Create prover archives
        working-directory: ${{ runner.temp }}/zeto-artifacts
        run: |
          tar -czvf zeto-wasm-$ZETO_VER.tar.gz **/*.wasm
          tar --exclude='*qurrency*' -czvf zeto-test-proving-keys-$ZETO_VER.tar.gz *.zkey *-vkey.json
          tar -czvf zeto-qurrency-test-proving-keys-$ZETO_VER.tar.gz *qurrency*.zkey *qurrency*-vkey.json

      - name: Create contract archives
        working-directory: solidity
        env:
          ARTIFACTS_ROOT: ${{ runner.temp }}/zeto-artifacts
        run: |
          tar -czvf $ARTIFACTS_ROOT/zeto-contracts-$ZETO_VER.tar.gz artifacts/contracts artifacts/@iden3

      - name: Publish Release Artifact
        uses: actions/upload-artifact@v4
        with:
          name: zeto-wasm-and-proving-keys
          path: |
            ${{ runner.temp }}/zeto-artifacts/zeto-wasm-*.tar.gz
            ${{ runner.temp }}/zeto-artifacts/zeto-test-proving-keys-*.tar.gz
            ${{ runner.temp }}/zeto-artifacts/zeto-qurrency-test-proving-keys-*.tar.gz
            ${{ runner.temp }}/zeto-artifacts/zeto-contracts-*.tar.gz

  create-release:
    name: Create GitHub Release
    needs:
      - build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download Artifacts
        id: download
        uses: actions/download-artifact@v4
      - name: Release Zeto Version
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: 'true'
          artifacts: zeto-wasm-and-proving-keys/*.tar.gz
          tag: ${{ env.ZETO_VER }}
          token: ${{ secrets.PAT }}
